<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="author-create">
        <h1>New Author</h1>
        <form action="/authors/create" method="post">
            <fieldset>
                <legend>
                    <label for="name">Name</label>
                </legend>
                <input type="text" name="name">
            </fieldset>
            <button>Create</button>
            <p><a href="/books">Add Book</a></p>
        </form>
    </div>
    <div id="author-info">
        <h1>Authors</h1>
            <table id="author-table" cellspacing = "0">
            {% for author in all_authors %}
                <tr>
                    <td><a href="/authors/{{author['id']}}">{{author['name']}}</a></td>
                </tr>
            {% endfor %}
            </table>
    </div>
</body>
</html>